# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/

# =========================
# Python Cache Files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Django Files
# =========================
db.sqlite3
*.log
media/

# =========================
# Environment Variables (Security)
# =========================
.env

# =========================
# VS Code Settings (Optional)
# =========================
.vscode/

# =========================
# Mac System Files (IMPORTANT for Mac)
# =========================
.DS_Store

# =========================
# OS & Misc
# =========================
Thumbs.db
